			<footer>
				<section id="lab_social_icon_footer">
				    <div class="footer-copyright py-3 text-center" style="padding-top: 5px">
	        			<p style="padding-bottom: 0px">© 2018 Copyright: Reseptisivu</p>
	    			</div>
				</div>
			</section>     
		</footer>               
	</body>
</html>