<% include partials/headeralku %>

<!-- Some additional CSS styling for this page -->
<style>
body, html {
    height: 100%;
    margin: 0;
}
 /* Background image styling */
.hero-image {
  background-image: url("https://images.pexels.com/photos/8313/food-eating-potatoes-beer-8313.jpg?w=1260&h=750&auto=compress&cs=tinysrgb");
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  opacity: 0.9;
}

.bg-2 { 
	padding-top: 10px;
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 15px;
}
.bg-3 { 
	padding-top: 10px;
  background-color: #ffffff; /* White */
  color: #555555;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 15px;
}

.fa {
  padding: 33px;
  font-size: 43px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
/* Icon styling */
.fa:hover {
  opacity: 0;
}

 .fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #bc2a8d;
}

.fa-pinterest {
  color: #cb2027;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}
/* Black line below the last paragraph */
.pstyle {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-style: oblique;
  color: #A9A9A9;
  font-size: 0px;
  border-bottom: 1px solid black;
  margin: 0 auto; /* This will center the border. */
  width: 35%;
}
/* Button hover effect */
.btn:hover{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
}

p {
  font-size: 18px;
}

</style>
</head>
<body>

<div class="hero-image">
	<div>
		<a href="/main" class="fa fa-facebook"></a>
		<a href="/main" class="fa fa-twitter"></a>
		<a href="/main" class="fa fa-instagram"></a>
		<a href="/main" class="fa fa-pinterest"></a>
	</div>
  <div class="pimg1" style="opacity:0.8;">
    <div class="ptext">
      <span class="border">
        TERVETULOA RESEPTISIVULLE!
      </span>
    </div>
  </div>
</div>

<div class="container-fluid bg-2 text-center">
			<h3 style="padding-bottom: 10px">Mitä tällä sivulla on tarkoitus tehdä?</h3>
    		<p>Ensinnäkin haluaisimme onnitella sinua, että löysit tiesi Reseptisivulle! Elämänlaatusi paranee tästä eteenpäin takuuvarmasti. Reseptisivun idea on äärimmäisen nerokas ja yksinkertainen. Voit selata sivulta reseptejä ja jos et millään pysty päättämään mitä haluat syödä niin ei hätää, sillä Reseptisivun patentointu reseptinarpoja-algoritmi kyllä kertoo sen sinulle! Siihen tarvitaan vain pelkkä napin painallus. Olemme myös julkaisseet sivuston käyttäjien pyynnöstä uuden mullistavan ominaisuuden. Käyttäjät voivat nyt myös lisätä sivulle reseptejä, joten ei muuta kuin kaulin käteen ja sisään sivustolle!</p>
</div>

<div class="container-fluid bg-3 text-center" style="padding-bottom: 0px">
  <h3 style="padding-bottom: 10px">Entä jos en tiedä, mitä haluan tehdä?</h3>
    <p>Ei hätää! Voit vaikka osallistua yhteen lukuisista kilpailuistamme sosiaalisessa mediassa tai katsoa uuden jakson Gordon Ramsayn Hell's Kitcheniä, jossa kaikki reseptit on haettu Reseptisivulta! Reseptisivu on saavuttanut valtavan suosion sosiaalisessa mediassa ja muun muassa Andy McCoyn uudelta levyltä löytyy Reseptisivun inspiroima kappale "Mitäs mä tänään skruudaisin?". Kuuntele vaikka sitä sillä välin, kun selailet reseptejä!</p>
    <p class="pstyle"></p>

    <div class="container-fluid bg-3 text-center" style="padding-top: 25px">
      <a class="btn btn-primary btn-lg" style="background-color: #4CAF50;" href="/main">Astu sisään</a>
    </div>
</div>

<% include partials/footeralku %>