<% include partials/headershow %>

<script type="text/javascript">
    // When the DOM is ready, run this function
    $(document).ready(function() {
      // Set the carousel options
      $('#quote-carousel').carousel({
        pause: true,
        // 5 seconds
        interval: 5000,
      });
    });
</script>

    <div class="container">      
        <header class="jumbotron tausta shadow jumbo">         
            <h1>Helppo apu oikean ruoan löytämiseen</h1>
            <p>
                <a class="btn btn-primary btn-lg buttonmargin" href="/new">Lisää sivulle resepti</a>
                <a class="btn btn-primary btn-lg" href="/random">Satunnainen resepti</a>
            </p>
        </header>
        <header>
        <div class="quoteCarousel">
          <div class='row'>
            <div class='col-md-offset-2 col-md-8'>
              <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#quote-carousel" data-slide-to="1"></li>
                  <li data-target="#quote-carousel" data-slide-to="2"></li>
                </ol>
                
                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner">
                
                  <!-- Quote 1 -->
                  <div class="item active">
                    <blockquote>
                      <div class="row">
                        <div class="col-sm-3 text-center">
                          <img class="img-circle" src="images/andym.jpg" style="width: 80px;height:80px;">
                        </div>
                        <div class="col-sm-9">
                          <p style="font-size: 15px">Waude! Himmeit mättöi tääl.</p>
                          <small>Andy McCoy</small>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                  <!-- Quote 2 -->
                  <div class="item">
                    <blockquote>
                      <div class="row">
                        <div class="col-sm-3 text-center">
                          <img class="img-circle" src="images/gordonr.jpg" style="width: 80px;height:80px;">
                        </div>
                        <div class="col-sm-9">
                          <p style="font-size: 15px">Täydellisen nerokas ja yksinkertainen. Ei mitään ylimääräistä ******.</p>
                          <small>Gordon Ramsay</small>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                  <!-- Quote 3 -->
                  <div class="item">
                    <blockquote>
                      <div class="row">
                        <div class="col-sm-3 text-center">
                          <img class="img-circle" src="images/nigellal.jpg" style="width: 80px;height:80px;">
                        </div>
                        <div class="col-sm-9">
                          <p style="font-size: 15px">Uuden vuosituhannen nerokkain keksintö sitten Kievin kanan.</p>
                          <small>Nigella Lawson</small>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                </div>
              </div>                          
            </div>
          </div>
        </div>
        </header>
        <!-- Display the recipes in the DB -->
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% reseptit.forEach(function(resepti){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail tausta shadow">
                        <img style="width: 253px; height: 169px" src="<%= resepti.kuva %>">
                        <div class="caption">
                            <h4><%= resepti.nimi %></h4>
                        </div>
                        <p>
                            <a href="/<%= resepti._id %>" class="btn btn-primary">Näytä resepti</a>
                        </p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>


<% include partials/footer %>