<% include partials/headershow %>

<!-- Some additional CSS styling for this page -->
<style type="text/css">

textarea {
	resize: none;
	width: 500px;
    height: 250px;
}

.pic {
	height: 80%; 
	width: 80%; 
	object-fit: contain;
}

.pic-cont {
	height: 60%; 
	width: 60%; 
	margin: auto; 
	text-align: center;
}

.navbar {
	margin-bottom: 0px;
}

.header1 {
	padding-bottom: 10px;
}

.text-center{
	padding-top: 10px;
	padding-bottom: 10px;
}

</style>
    <!-- Jos palautat kaikki reseptit niin voit kirjoittaa reseptit[0].nimi -->
	<div class="container shadow random">
		<div>
			<div class="pic-cont">
				<h1 class="header1"><%= resepti.nimi %></h1>
				<div>
					<img class="kuva shadow pic" src="<%= resepti.kuva %>">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div>
						<h3>Ainekset</h3>
					</div>
					<div>
						<textarea class="ainekset" cols="20" rows="15" readonly style="s"><%= resepti.ainekset %></textarea>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div>
						<h3>Resepti</h3>
					</div>
					<div>
						<%= resepti.resepti %>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid bg-3 text-center">
			<a class="btn btn-primary btn-lg" href="/main">Takaisin resepteihin</a>
		</div>
	</div>
</div>

<% include partials/footer %>